.header
{
    position: relative;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(63,5,79,1) 50%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 150px;
}

.header .logo
{
    float: left;
    color: white;
    height: 100%;
    width: 600px;
    
}
.header .logo strong 
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 175px;
    font-size: 50px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ff00b3, 0 0 30px #ff00b3, 0 0 40px #ff00b3, 0 0 55px #ff00b3, 0 0 75px #ff00b3;
}

.header .logo .imgHead 
{
    position: absolute;
    width: 100px;
    margin-left: 50px;
    /* vertical align */
    top: 50%;
    transform: translateY(-50%);
    margin-right: 100px;
    border-radius: 50%;
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ff00b3, 0 0 30px #ff00b3, 0 0 40px #ff00b3, 0 0 55px #ff00b3, 0 0 75px #ff00b3;

}

.header .navBar
{
    float: right;
    height: 100%;
}

.header .navBar ul
{
    margin-top: 65px;
    margin-right: 65px;

}

.header .navBar ul li{
    display: inline;
    list-style: none;
    height: 46px;
    margin-left: 75px;
    margin-right: 15px;
}

.header .navBar a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ff00b3, 0 0 30px #ff00b3, 0 0 40px #ff00b3, 0 0 55px #ff00b3, 0 0 75px #ff00b3;
    transition: 300ms all;
}

.header .navBar a:hover{

    color: #ff00b3;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 55px #ffffff, 0 0 75px #ffffff;

}
